<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(find mr_description)/robots/manipulator5d.urdf.xacro" />
<!--  <param  name="robot_description"  textfile="$(find mr_description)/urdf/I_module/I_module.urdf" />-->
  <rosparam>
    dependent_joints:
      g6_Joint1: {parent: g6_Joint, factor: 1 }
  </rosparam>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
      <remap from="joint_states" to="/joint_command"/>
  </node>
  
  <node name="module_commander" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="use_gui" value="true"/>
	    <param name="publish_frequency" type="double" value="10.0" />
  	  <param name="gui_caption" value="BIRL"/>
      <remap from="joint_states" to="/joint_command"/>
  </node>
    
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mr_description)/rviz/manipulator5d.rviz" if="$(arg gui)" />


  <node name="canopen_driver" pkg="canopen_motor_node" type="canopen_motor_node" output="screen" clear_params="true">
					<!--   launch-prefix="gdb -ex run -/-args">-->
<!--<group ns="canopen_motor_chain_node" >-->
     <rosparam command="load" file="$(find birl_module_canopen)/config/can.yaml" />
     <rosparam command="load" file="$(find birl_module_canopen)/config/manipulator5d_motors.yaml" />
<!--     <remap from="joint_states" to="/feedback_joint_states"/> -->
<!--</group>-->
  </node>
  
  
<!-- controllers -->
  <rosparam command="load" file="$(find modular_robot_control)/config/manipulator5d_controller.yaml" />
<!--  <rosparam ns="arm" command="load" file="$(find schunk_lwa4p)/config/joint_limits.yaml"/>-->
<!--  <rosparam ns="arm" command="load" file="$(find schunk_lwa4p)/config/arm_cartesian_controller.yaml"/>-->

   <!-- start_controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller joint_group_position_controller" respawn="false" output="screen"/>
<!--  <node name="controller_loader" pkg="controller_manager" type="controller_manager" args="load joint_trajectory_controller I_Joint_position_controller I_Joint_velocity_controller " respawn="false" output="screen"/>-->
    
<!--  transform the topic from joint_state_publisher to that of canopen_motor_node-->
<!--  <node name="topic_transf_joint_state_pub_to_canopen_motor" pkg="topic_tools" type="transform" args="/joint_states /I_Joint_position_controller/command std_msgs/Float64 'm.position[0]'" output="screen" />-->
  <node name="module_state_adaptor" pkg="birl_module_canopen" type="module_state_adaptor.py" args="canopen_driver">
      <remap from="joint_states" to="/joint_command"/>
  </node>
    
  <!-- control_mode_adapter -->
<!--  <node  name="control_mode_adapter" pkg="modular_robot_control" type="I_controller_node" cwd="node" respawn="false" output="screen"/>-->
<!--  <node ns="arm" name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>-->

  <!--GRIPPER DEFINITION FINISH-->
  
  <!-- ToDo: Cartesian controller -->

  <!-- default robot config -->
<!--  <rosparam ns="/script_server/arm" command="load" file="$(find schunk_lwa4p)/config/joint_configurations.yaml" />-->

	<!-- Start the Powerball API Node -->
<!--  <node pkg="sensor_listener" type="schunk_api_node.py" name="schunk_api_node" output="screen"/>	-->
  
</launch>
