<?xml version="1.0"?>
<launch>
  <arg name="chain_start" default="base_link" />
  <arg name="chain_end" default="tcp" />
  <arg name="timeout" default="0.05" />

  <include file="$(find mr_description)/launch/manipulator5d_display.launch" >
    <arg name="gui" value="true"/>
    <arg name="publisher" value="false"/> 
  </include>

  <node name="interactive_marker" pkg="modular_robot_control" type="basic_marker.py"/>
  
  <node name="ik_node" pkg="modular_robot_control" type="ik_node" output="screen">
    <param name="chain_start" value="$(arg chain_start)"/>
    <param name="chain_end" value="$(arg chain_end)"/>
    <param name="timeout" value="$(arg timeout)"/>
    <param name="urdf_param" value="/robot_description"/>
  </node>

</launch>