<?xml version="1.0"?>
<launch>
  <arg name="chain_start" default="base_link" />
  <arg name="chain_end" default="tcp" />
  <arg name="timeout" default="0.05" />


  <include file="$(find mr_description)/launch/manipulator5d_display.launch" >
    <arg name="sim" value="false"/> 
  </include>

  <node name="interactive_marker" pkg="modular_robot_control" type="eef_interactive_marker.py" args="'base_link' 'tcp'"/>

  <node name="set_rosparam_joint_names" pkg="modular_robot_control" type="rosparam_set_joint_names.py"/>

  <node name="ik_node" pkg="modular_robot_control" type="ik_node" output="screen">
    <param name="chain_start" value="$(arg chain_start)"/>
    <param name="chain_end" value="$(arg chain_end)"/>
    <param name="timeout" value="$(arg timeout)"/>
    <param name="urdf_param" value="/robot_description"/>
  </node>

</launch>